/*************************************************
    GENERAL STYLES
 *************************************************/
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/************************************************
    UTILITIES
 ************************************************/
body {
    text-align: center;
    background-color: rgba(245, 245, 245, 0.721);
}

 .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* !"DEBUG" DA ELIMINARE TERMINATO IL CODICE*/
.debug {
    background-color: rgba(0, 102, 255, 0.5);
    border: 1px solid #000;
}

/************************************************
    SITE SECTIONS
 ************************************************/


 header {
    margin: 0 100px;
 }

 main .cards {
    margin-top: 50px;
 }

 main .cards .row {
    display: flex;
    flex-wrap: wrap;
 }

 main .cards .row .col {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: calc(100% / 3 - 20px);
 }

 main .cards .row .col>img  {
    width: 100%;
 }

 main .cards .row .col .img img {
    width: 100%;
 }

 main .cards .row .col .info {
    padding: 10px 0;
    background-color: white;
 }